body{
  background-color: bisque;
}

#canvas{
  position: relative;  
  width: 800px;
  height: 700px;
  
}

#container{
  position: absolute;
  width: 800px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

p{
  color: rgb(10, 74, 131);
  font-size: 50px;

}

#slider{
  width:100%;
}

